{% extends "base.html" %}

{% block title %}Food{% endblock %}

{% block content %}
<div class="body">

<!-- Split -->
<div style="display: flex; flex-direction: row; justify-content: space-evenly;">
    <!-- Left -->
    <div style="width: 48%;">

        <!-- Food Box -->
        <div class="foodBox" style="background-color: #7483ab; border: 2px solid black;
        padding: 0; padding-left: 5px;">
            <p>MM/DD/YY: Food Item</p>
        </div>
        {% for f in get_food() %}
        <div class="foodBox" style="background-image: linear-gradient(to right, {{f[1].color}}, #4a62a4);">
            <form action="{{ url_for('remove_item', index=f[0] ) }}" method="post">
                <button class="delete-btn">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                </button>
            </form>
            <p>{{f[1].expiration_text}}: {{f[1].name}}</p>
        </div>
        {% endfor %}
    </div>

    <!-- Right -->
    <div style="width: 48%;">
        <div style="width: 30%;">
            <table class="foodInfo">
                <tr>
                    <th style="text-align: center;">Food Expiration</th>
                    <th style="text-align: center;">Items</th>
                </tr>
                <tr>
                    <td style="background-color: green; text-align: right;">Over a week</td>
                    <td>{{food_counts[0]}}</td>
                </tr>
                <tr>
                    <td style="background-color: yellow; text-align: right;">4-7 Days</td>
                    <td>{{food_counts[1]}}</td>
                </tr>
                <tr>
                    <td style="background-color: orange; text-align: right;">1-3 Days</td>
                    <td>{{food_counts[2]}}</td>
                </tr>
                <tr>
                    <td style="background-color: red; text-align: right;">Today</td>
                    <td>{{food_counts[3]}}</td>
                </tr>
                <tr>
                    <td style="background-color: black; color: white; text-align: right;">Expired</td>
                    <td>{{food_counts[4]}}</td>
                </tr>
            </table>
        </div>
    
        <!-- Search Box -->
        <div>
            <div>
                <form method="POST"> 
                    <input name="foodInput"></input> 
                    <input type="submit" value="Search"> 
                </form> 
            </div>
            
            <div>
                {% for f in food_search(f_search) %}
                <div class="addBox">
                    <form action="{{ url_for('add_food', addf = f) }}" method="post" class="food-button">
                        <div class="addCircle" onclick="this.parentElement.submit();"></div>
                    </form>
                    <div class="food-item">{{ f }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
<!-- End of split -->
</div>

<!-- Body -->
</div>
{% endblock %}


<!-- 
<div style="position: fixed; right: 30px; bottom: 30px;">
    <a href="{{url_for('add')}}" class="navButton">
        <div class="addCircle"></div>
    </a>
</div>
-->